nav {
    background-color: rgb(209, 216, 28);
    padding: 5px;
}

nav ul {
    text-align: center;
    font-size: 1.2em;
}

nav ul li {
    list-style: none;
    background-color: rgb(225, 83, 17);
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid rgb(216, 16, 16);
    border-radius: 10px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
}

header {
    background-color: rgb(247, 35, 16);
    padding: 10px;
    text-align: center;
    color: black;

}


th,
td,
tr {
    border: 1px solid rgb(224, 76, 212);
    text-align: left;
}

body {
    font-family: Verdana;
}

#active {
    border: 2px solid rgb(4, 1, 3);
}

.productTeam {
    text-align: center;
    border: 5px solid black;
    margin: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.column {
    width:30%;
    height:350px;
}

.iframe-container {
    position: relative;
    height: 100%;
    min-height: 100vh;}
.iframe-container iframe {
      height: 100%;
      width: 100%;    
      left: 0;
      top: 0;
      position: absolute;
      border:0;
    }

